@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="row">
    <div class="col-6">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LastName"> Last Name</label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPW">Confirm Password</label>
                <input asp-for="ConfirmPW" class="form-control">
                <span asp-validation-for="ConfirmPW" class="text-danger"></span>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="col-6">
        <h1>Login</h1>
        <partial name="_LoginPartial"/>
    </div>
</div>